:root{
	--PogquaRed: #b90d38;
	--PogquaTeal: #01c7b9;
	--PogquaGrey: #2a3137;
	--PogquaWhite: #ffffff;
	--PogquaBlack: black;
}

body{
	margin: 0px;
	background-color:var(--PogquaTeal);
	text-align: center;
	font-family: 'Oswald', sans-serif;

}

.section h1{
	color:var(--PogquaWhite);
	font-family: 'Rajdhani', sans-serif;
}

.grid{
	display: grid;
	grid-template-columns: 25% 75%;
}

img{
	min-width: 50%;
}

/*Put these on the same line later*/
.triangle{
	width: 0; 
  	height: 0; 
  	position: relative;
  	top: 20%;
  	left: -8px;
  	border-top: 10px solid transparent;
  	border-bottom: 10px solid transparent; 
  	border-right:10px solid var(--PogquaWhite); 
}
.speechbubble{
	background-color: var(--PogquaWhite); 
	border-radius: 50px;

	position: relative;

	min-height: 100px;
	min-width: 500px;
}
.speechbubbletxt{
	padding: 20px;
}
footer{
	display:flex;
	align-content: center;
	justify-content: center;
	background-color: var(--PogquaBlack);
	color: var(--PogquaWhite);
}

footer ul{
	list-style: none;
}

footer ul a{
	color: var(--PogquaWhite);
}

@media(max-width:600px){
	.triangle{
		display:none;
	}
	.grid{
		display: inline;
	}
	.speechbubble{
		min-width: 100%;
	}
}