:root{
	--PogquaRed: #b90d38;
	--PogquaTeal: #01c7b9;
	--PogquaGrey: #2a3137;
	--PogquaWhite: #ffffff;
	--PogquaBlack: black;
}

body{
	margin: 0px;
	background-color:var(--PogquaTeal);
	text-align: center;
	font-family: 'Oswald', sans-serif;

}

.maincontent{
	padding: 10px;
}

.section h1{
	color:var(--PogquaWhite);
	font-family: 'Rajdhani', sans-serif;
	font-size: 3rem;
}

.grid{
	display: grid;
	grid-template-columns: 25% 75%;
}

.imgbox > img{
	min-width: 50%;
}

/*Put these on the same line later*/
.triangleside{
	width: 0; 
  	height: 0; 
  	position: relative;
  	top: 20%;
  	left: -6px;
  	border-top: 10px solid transparent;
  	border-bottom: 10px solid transparent; 
  	border-right:10px solid var(--PogquaWhite); 
}
.triangleup{
	display: none;
	width: 0; 
  	height: 0; 
  	position: relative;
  	top: 0px;
  	left: 50%;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid var(--PogquaWhite);
}

.speechbubble{
	background-color: var(--PogquaWhite); 
	border-radius: 50px;

	position: relative;

	min-height: 100px;
	min-width: 500px;
	font-size: 1.25rem;
}
.speechbubbletxt{
	padding: 20px;
}

button{
	margin: 10px;
	background-color: transparent;
	font-size: 2rem;
	border-radius: 35px;
	border:solid 3px var(--PogquaRed);
	color:var(--PogquaRed);
	font-family: 'Rajdhani', sans-serif;
}

button:hover{
		border:solid 3px var(--PogquaBlack);
		color:var(--PogquaBlack);
}

footer{
	border-top: 4px solid var(--PogquaRed);
	position: absolute;
	bottom: 0px;
	min-width: 100%;
	display:flex;
	align-content: center;
	justify-content: center;
	background-color: var(--PogquaBlack);
	color: var(--PogquaWhite);
}

.logo{
	max-width: 70px;
	max-height: 70px;
}

footer ul{
	list-style: none;
}

.footerheader{
	text-transform: uppercase;
	font-weight: bold;
}


footer ul a{
	color: var(--PogquaWhite);
}
footer ul a:hover{
	color: var(--PogquaRed);
}
@media(max-width:600px){
	.triangleside{
		display:none;
	}
	.triangleup{
		display:block;
	}
	.grid{
		display: inline;
	}
	.speechbubble{
		min-width: 100%;
	}
	footer{
		position: static;
	}
}